.box {
    background-color: lightblue;
    border: 1px;
    min-height: 50px;
    font-size: 2em;
}

.E-pic {
    width: 90%;
}
.progress {
    width: 92%;
}

.pfpRev {
    height: 2.5em;
    max-width: 2.5em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding-block: auto;
}

.flex-center {
    display: flex;
    align-items: center;
}

.user-profile {
    height: 2.75em;
    margin-block: 0.25em;
}

.user-profile a{
    height: 100%;
}

.user-profilecomment {
    height: 1.75em;
}

.moreRev, .yourReview {
    padding-inline: 0.8em;
}

button.moreRev, .estabResponse, .imgBtn, .JBimgBtn, .ARBimgBtn {
    outline: none;
    background: transparent;
    border: none;
    font-size: 1rem;
    text-transform: lowercase;
    color: rgb(4, 32, 32);
    font-weight: 600;
}

.chat, .reply, .down, .up, .edit-review, .del-review, .edit-reply, .del-reply {
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    width: 1em;
    height: 1em;
    color: blue;
}

 .img {
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.5em;
    margin-right: 1.85em;
}

.reviewtext {
    margin-bottom: 0.5em;
}

.reviewBody {
    padding-top: 0em;
    padding-bottom: 0.5em;
    margin: 0em;
}

.reviewTitle {
    margin-top: 0.25em;
    margin-bottom: 0em;
}

.upbg {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z' clip-rule='evenodd'/></svg>");
}

.upbgfill, span.up:hover  {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z' clip-rule='evenodd'/></svg>");
}

.downbg {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z' clip-rule='evenodd'/></svg>");
}

.downbgfill, span.down:hover {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' clip-rule='evenodd'/></svg>");
}


.chatbg{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z' clip-rule='evenodd'/></svg>");
}

.chatbgfill, span.chat:hover{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z' clip-rule='evenodd'/></svg>");
}

.replybg {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z' clip-rule='evenodd'/></svg>");
}

.replybgfill, span.reply:hover {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z' clip-rule='evenodd'/></svg>");
}

.otheroptions {
    
}

copy for icons
{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='' clip-rule='evenodd'/></svg>");
}

.editbgfill, span.edit:hover, span.edit-review:hover, span.edit-reply:hover {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z' clip-rule='evenodd'/></svg>");
}

.editbg {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z' clip-rule='evenodd'/></svg>");
}

.delbgfill, span.del:hover, span.del-review:hover, span.del-reply:hover {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z' clip-rule='evenodd'/></svg>");
}
.delbg {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z' clip-rule='evenodd'/></svg>");
}

.imgbgfill, .img:hover {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z' clip-rule='evenodd'/></svg>");
}

.imgbg {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z' clip-rule='evenodd'/></svg>");
}

.a {
    background-color: red;
}

.b {
    background-color: blue;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* https://github.com/mukulkant/Star-rating-using-pure-css */

:root {
    --yourRev: calc(5/ 5 * 100%);
}

  .average-rating.yourRevRating::before {
    background: linear-gradient(
      90deg,
      rgb(9, 142, 40) var(--yourRev),
      rgba(0, 0, 0, 0.2) var(--yourRev)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
    word-wrap: break-word !important;
    cursor:pointer;
}

.revMedia  span, .revMedia  button  {
    max-width: 24%;
    max-height: 7em;
}

.revMedia  span  {
    padding-right: 0.075em;
}

.revMedia span img, .revMedia span video, .revMedia  span audio  {
    max-width: 100%;
    max-height: 7em;
}

.revMedia {
    display: flex;
    align-items: center;
    height: 7em;
    margin-bottom: .75em;
}

.imgBtn, .JBimgBtn, .ARBimgBtn  {
    background-size: 100%;
    min-height: 2.75em;
    width: 100%;
    background-repeat: no-repeat; 
    font-size: 2.5em;
    font-weight: 400;
    color: white;
}

.moreImgBox > * {
    max-width: 33%;
    padding: 0.5em;
}

.moreImgBox .audio {
    width: 33%;
    padding: 0.5em;
}
.audio audio {
    max-width: 100%;
}

.moreImgBox  {
    display: flex;
    flex-wrap: wrap;
}

.up, .down, .chat {
    margin-left: 0.5em;
    margin-right: 0.2em;
}

.edit-review, .edit-reply {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.reply, .del-review, .del-reply {
    margin-left: 0.9em;
    margin-right: 0.2em;
}

.wReply {
    padding-block: .75em;
    margin: 0em;
    background-color: white;
}

.estabResponseDiv {
    padding-block: 0.5em;
    margin-left: 1.5em;
    background-color: white;
}

.reviewHeader {
    padding-top: 1em;
    padding-bottom: 0.25em;
    background-color: white;
    justify-content: space-between;
    border-bottom: 0;
}

.status {
    color: #717171;
    font-weight: 300;
}

.postDeats {
    line-height: 1em;
}

.modal-header {
    padding: 1.5em;
}

.iconBox {
    justify-content: end;
    margin-bottom: 0em;
}

.writeReply {
    margin-bottom: 0.25em;
    font-weight: 300;
}

.postReply {
    float: right;
    margin-top: 0.5em;
    margin-right: 0.25em;
}

.estabResponse {
    padding-left: 0em;
    font-weight: 325;     /* light */
    color: #023020;
}

.comment {
    margin-left: 1.5em;
}

.ratingz {
    margin-right: 1em;
    font-weight: 500;
    color: #023020;
}

.revForm {
    margin-bottom: 0.5em;
}
.user-link {
    text-decoration: none;
    color: #023020;
}

.moreRev.moreRevText  {
    font-weight: 325;
    font-style: italic;
    color: #023020;
  }
  
.rateEstabText {
    font-weight: 300;
    margin-bottom:0em;
}

.writeRevText {
    font-weight: 300;
    margin-bottom:0.25em;
}

.rate {
    width: 10em;
    font-size: 1.75em;
    margin-left: 0.145em;
    margin-bottom: 0.15em;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
}

.postReview {
    margin-right: 0.25em;
}

.postRevDiv {
    justify-content: end;
    margin-top: 0.5em;
}

.estabName {
    font-size: 1.75em;
    white-space: nowrap;
    margin-bottom: 0em;
}

.address {
    color: #717171;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.ratingDiv {
    margin-left: 2.5em;
}

.seeAttach {
    margin-right: 1.2em;
    text-decoration: none;
    color: #717171;
    font-size: .85em;
    font-style: italic;
    cursor: pointer;
}

.filelist li {
    height: 40px;
    font-size: 0.75em;
    font-weight: 500;
    background-color: #f3fcf8;
    color: #198754;
    margin-bottom: 2em;
    padding: .5em 1em;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}

.filelist {
    list-style-position: inside;
    padding-left: 0;
}