
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>___Jstn | Food in Taft</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/icon.png">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="/static/css/user-profile.css" rel="stylesheet">
        <link href="/static/css/stylesheet.css" rel="stylesheet">
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script defer src="https://kit.fontawesome.com/f3e84a984d.js" crossorigin="anonymous"></script>
        <script defer src="/static/js/user-profile.js"></script>
        <script defer src="/static/js/establishment.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/static/css/establishment.css">
        <script src="/static/js/attach-pfp.js" defer></script>
        <script src="/static/js/navbar.js" defer></script>
        <script src="/static/js/authentication.js" defer></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
  <body>
    <div class="container">
        

        <div class="row">
            <div class="col-5">
                <div class="card mt-5">
                    <div class="card-img-container">
                        <img class="card-img-top" id="profile-img-top" src="/static/assets/user-pfp-placeholders/pfp_sample_1.png" alt="">
                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="card-title username">___Jstn</h2>
                        </div>
                        <p id="profile-description" class="card-text">
                            Business Owner
                        </p>
                    </div>
                </div>
            </div>

            <div class="col ms-4 mt-5">
                <div class="row">
                    <p class="fw-light mb-2">All Reviews and Comments</p>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="___jstn.html"><img class="pfpRev img-fluid" src="/static/assets/user_pfp/jstn.png" alt=""></a>
                                <div class="postDeats">
                                    <a class="user-link" href="___jstn.html">___Jstn</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                            <div>
                                <h5 class="d-inline-block"><span class="me-3">4.0</span><meter class="average-rating star-4 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                            </div>
                    </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/Mcdo.html">
                                <h6 class="card-title reviewTitle">A Tropical Paradise in a Bite: McDonald's Pineapple Mango Smoothie!</h6>
                            </a>
                            <p class="reviewtext truncate card-text">
                                Need a refreshing tropical escape? Look no further than McDonald's
                                Pineapple Mango Smoothie. Bursting with the flavors of juicy
                                pineapple and sweet mango, this smoothie is a delightful
                                blend of tropical goodness. The smooth, icy texture is a perfect 
                                thirst quencher on a hot summer day. My only critique is that I 
                                wish the fruit flavors were a bit 
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg "> </span>
                                <span class="uvote card-text">12</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">9</span>
                                <span class="reply replybg"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00001xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00001xxtext" name="c00001xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="___jstn.html"><img class="pfpRev img-fluid" src="/static/assets/user_pfp/jstn.png" alt=""></a>
                                <div class="postDeats">
                                    <a class="user-link" href="___jstn.html">___Jstn</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body reviewBody">
                            <p class="reviewtext truncate card-text">
                                Nandito pla si LODi
                            </p>
                            <p class="fw-light fst-italic">Commented on: </p>
                             <div class="card REVIEW">
                                <div class="card-header reviewHeader flex-center">
                                    <div class="user-profile flex-center">
                                        <a href="jomarzkii.html">
                                            <img class="pfpRev img-fluid" src="/static/assets/user_pfp/jomarzkii.png" alt="">
                                        </a>
                                        <div class="postDeats">
                                            <a class="user-link" href="jomarzkii.html">Jomar ng buhay mo</a>
                                            <div class=" status">1d • edited</div>
                                        </div>
                                    </div>
                                    <div>
                                        <h5 class="d-inline-block"><span class="me-3">4.0</span><meter class="average-rating star-4 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                    </div>
                                </div>
                                <div class="card-body reviewBody">
                                    <a class="user-link" href="../establishments/Jollibee.html">
                                        <h6 class="card-title reviewTitle">Jollibee's Chickenjoy: A Crispy, Flavorful Delight!</h6>
                                    </a>
                                    
                                    <p class="reviewtext truncate card-text">
                                        Jollibee's Chickenjoy is the epitome of fried 
                                        chicken perfection. The golden, crispy skin encases 
                                        succulent, tender meat that is bursting with flavor. 
                                        Each bite is a harmonious balance of savory and slightly 
                                        sweet notes, thanks to their secret marinade. The chicken 
                                        is always cooked to perfection, delivering that satisfying 
                                        crunch with every bite. Jollibee's Chickenjoy is a true winner 
                                        and a must-try for any fried chicken lover.
                                    </p>
                                </div>
                            </div>
                            
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg "> </span>
                                <span class="uvote card-text">6</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">9</span>
                                <span class="reply replybg"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="r00001xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="r00001xxtext" name="r00001xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                </div>
                <div class="row mb-2">
                    <button class="fw-light fst-italic moreRev">see more</button> 
                </div>
                <div class="row moreRev collapse">
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="___jstn.html"><img class="pfpRev img-fluid" src="/static/assets/user_pfp/jstn.png" alt=""></a>
                                <div class="postDeats">
                                    <a class="user-link" href="___jstn.html">___Jstn</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/ColCurry.html">
                                <h6 class="card-title reviewTitle">Savor the Richness: Colonel Curry's Coconut Curry Stew!</h6>
                            </a>
                            <p class="reviewtext truncate card-text">
                                Colonel Curry's Coconut Curry Stew is a bowl of pure comfort. The fragrant aroma of coconut milk and spices fills the air as you dive into the velvety broth. Tender chunks of meat and an array of vegetables create a harmonious medley of flavors. The curry is well-balanced, with just the right amount of creaminess and a gentle heat that lingers on the palate. Each spoonful is a delight, making this stew a standout choice for curry enthusiasts.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">12</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">10</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                            <form> <div class="form-group">
                                <label for="c00002xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00002xxtext" name="c00002xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                                </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="___jstn.html"><img class="pfpRev img-fluid" src="/static/assets/user_pfp/jstn.png" alt=""></a>
                                <div class="postDeats">
                                    <a class="user-link" href="___jstn.html">___Jstn</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/Jollibee.html">
                                <h6 class="card-title reviewTitle">A Sweet Finale: Jollibee's Peach Mango Pie!</h6>
                            </a>
                            
                            <p class="reviewtext truncate card-text">
                                Jollibee's Peach Mango Pie is a sweet treat that brings 
                                together the flavors of juicy peaches and tropical mangoes 
                                in a golden, flaky crust. The filling is warm, sweet, and 
                                bursting with fruity goodness. The contrast of the crispy 
                                crust and the luscious filling creates a delightful textural 
                                experience. My only suggestion would be for a slightly larger 
                                serving size, as one pie is often not enough to satisfy my 
                                cravings. Nevertheless, Jollibee's Peach Mango Pie is a tasty 
                                and satisfying way to end a meal.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">6</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">0</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00003xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00003xxtext" name="c00003xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="___jstn.html"><img class="pfpRev img-fluid" src="/static/assets/user_pfp/jstn.png" alt=""></a>
                                <div class="postDeats">
                                    <a class="user-link" href="___jstn.html">___Jstn</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">4.0</span><meter class="average-rating star-4 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/24chicken.html">
                                <h6 class="card-title reviewTitle">Sweet and Savory Harmony: 24Chicken's Honey Butter Biscuit Sticks!</h6>
                            </a>
                            <p class="reviewtext truncate card-text">
                                24Chicken's Honey Butter Biscuit Sticks are a heavenly treat 
                                that combines the perfect balance of sweet and savory. These 
                                crispy and flaky biscuit sticks are coated in a luscious honey 
                                butter glaze that creates a delightful explosion of flavors. The 
                                sweetness of the honey and the richness of the butter complement each 
                                other perfectly. 24Chicken's Honey Butter Biscuit Sticks are an 
                                irresistible snack or dessert option that will leave you wanting more.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">2</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">1</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00004xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00004xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    <div class="card mb-3 REVIEW">
                        <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href="___jstn.html"><img class="pfpRev img-fluid" src="/static/assets/user_pfp/jstn.png" alt=""></a>
                                <div class="postDeats">
                                    <a class="user-link" href="___jstn.html">___Jstn</a>
                                    <div class=" status">1d • edited</div>
                                </div>
                            </div>
                                <div>
                                    <h5 class="d-inline-blockz"><span class="me-3">5.0</span><meter class="average-rating star-5 mang-inasal d-inline-block" min="0" max="5"></meter></h5>
                                </div>
                        </div>
                        <div class="card-body reviewBody">
                            <a class="user-link" href="../establishments/AteRicas.html">
                                <h6 class="card-title reviewTitle">Savory Delight: Ate Rica's Bacsilog is a Breakfast Winner!</h6>
                            </a>
                            <p class="reviewtext truncate card-text">
                                Ate Rica's Bacsilog is a breakfast dish that hits all the right notes. 
                                The combination of crispy bacon, fluffy garlic fried rice, and a perfectly 
                                cooked sunny-side-up egg creates a symphony of flavors. The bacon is savory 
                                and adds a satisfying crunch, while the garlic fried rice is fragrant and 
                                packed with taste. The runny yolk from the egg adds a creamy element that 
                                brings everything together. Ate Rica's Bacsilog is a definite winner for 
                                a hearty and delicious breakfast.
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">0</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">13</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">0</span>
                                <span class="reply replybg ms-3"></span>
                                
                                
                            </div>
                        </div>
                        <div class="wReply card-footer collapse">
                           <form> <div class="form-group">
                                <label for="c00005xxtext" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required  id="c00005xxtext" rows="3"></textarea>
                                <button type="submit" class="postReply btn btn-success">Post</button>
                              </div></form>
                        </div>
                        <ul class="comment list-group list-group-flush collapse"></ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
