{{> navbar }}
<div class="container mt-5">
        <div class="row">
            <div class="col-9 m-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-3">
                            <h2 class="mb-0"> About ArcherEats</h2>
                            {{!-- <span class="fw-light">Group 1: Corpuz, Delos Reyes, Escopete, Lim</span> --}}
                        </div>
                        <div class="card-text">
                           An establishment review web application built by:<br>
                           Corpuz, David Joshua Marcos  <Br>
                            Delos Reyes, Jomar Magtalas<Br>
                            Escopete, Steven Errol Ilao<Br>
                            Lim, Justin Nathaniel Uy <Br><Br>

                            Interface libraries used:<br>
                            Bootstrap <br><br>

                            NPM packages used: <br>
                            bcrypt 5.1.0<br>
                            body-parser 1.20.2<br>
                            cookie-parser 1.4.6<br>
                            express-handlebars 7.0.7<br>
                            express 4.18.2<br>
                            jsonwebtoken 9.0.1<br>
                            mongodb 5.7.0<br>
                            multer 1.4.5-lts.1<br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>