<div class="card mb-2 notifCard {{this.read}}" id="{{this._id}}" >
  <div class="card-body">
    <h6 class="card-title ">{{this.notifTitle}}</h6>
    <p class="card-text mb-1">{{{this.notifContent}}}</p>
    <div class="flex-center iconBox">
        <span class=" delbg delNotif"></span>
    </div>
  </div>
</div>
