<form method="post" name="sortAndFilter" id="sortAndFilter">
    <!--EDIT BOOKMARK START-->
    <button id="sortRatingsOrder" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Ratings Order
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortByHighest" class="dropdown-item" type="button">
                Highest Ratings First
            </button>
        </li>
        <li>
            <button id="sortByLowest" class="dropdown-item" type="button">
                Lowest Ratings First
            </button>
        </li>
    </ul>
    <button id="sortReviewScore" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Review Score
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortBy5S" class="dropdown-item" type="button">
                5 stars only
            </button>
        </li>
        <li>
            <button id="sortBy4S" class="dropdown-item" type="button">
                4 stars only
            </button>
        </li>
        <li>
            <button id="sortBy3S" class="dropdown-item" type="button">
                3 Stars only
            </button>
        </li>
        <li>
            <button id="sortBy2S" class="dropdown-item" type="button">
                2 Stars only
            </button>
        </li>
        <li>
            <button id="sortBy1S" class="dropdown-item" type="button">
                1 Star only
            </button>
        </li>
    </ul>
    <!--EDIT BOOKMARK END-->
</form>