<form method="post" name="sortAndFilter" id="sortAndFilter">
    <!--EDIT BOOKMARK START-->
    <button id="sortRatingsOrder" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Ratings Order
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortByHighest" value="highest" data-filter="highest" class="dropdown-item" type="button">
                Highest Ratings First
            </button>
        </li>
        <li>
            <button id="sortByLowest" value="lowest" data-filter="lowest" class="dropdown-item" type="button">
                Lowest Ratings First
            </button>
        </li>
    </ul>
    <button id="sortReviewScore" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Review Score
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortBy5S" value="5" data-filter="any" class="dropdown-item" type="button">
                All review scores
            </button>
        </li>
        <li>
            <button id="sortBy5S" value="5" data-filter="5.0" class="dropdown-item" type="button">
                5 stars only
            </button>
        </li>
        <li>
            <button id="sortBy4S" value="4" data-filter="4.0" class="dropdown-item" type="button">
                4 stars only
            </button>
        </li>
        <li>
            <button id="sortBy3S" value="3" data-filter="3.0" class="dropdown-item" type="button">
                3 Stars only
            </button>
        </li>
        <li>
            <button id="sortBy2S" value="2" data-filter="2.0" class="dropdown-item" type="button">
                2 Stars only
            </button>
        </li>
        <li>
            <button id="sortBy1S" value="1" data-filter="1.0" class="dropdown-item" type="button">
                1 Star only
            </button>
        </li>
    </ul>

    <button id="sortTag1" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort Tag 1
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortByTag1Any" value="" data-filter="any" class="dropdown-item" type="button">
                Any
            </button>
        </li>
        <li>
            <button id="sortByTag1Filipino" value="Filipino" data-filter="Filipino" class="dropdown-item" type="button">
                Filipino
            </button>
        </li>
        <li>
            <button id="sortByTag1FastFood" value="Fast Food" data-filter="Fast-Food" class="dropdown-item" type="button">
                Fast Food
            </button>
        </li>
        <li>
            <button id="sortByTag1Bar" value="Bar" data-filter="Bar" class="dropdown-item" type="button">
                Bar
            </button>
        </li>
        <li>
            <button id="sortByTag1LoungingArea" value="Lounging Area" data-filter="Lounging Area" class="dropdown-item" type="button">
                Lounging Area
            </button>
        </li>
    </ul>

    <button id="sortTag2" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort Tag 2
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortByTag2Any" value="" data-filter="any" class="dropdown-item" type="button">
                Any
            </button>
        </li>
        <li>
            <button id="sortByTag2Filipino" value="Filipino" data-filter="Filipino" class="dropdown-item" type="button">
                Filipino
            </button>
        </li>
        <li>
            <button id="sortByTag2FastFood" value="Fast Food" data-filter="Fast-Food" class="dropdown-item" type="button">
                Fast Food
            </button>
        </li>
        <li>
            <button id="sortByTag2Bar" value="Bar" data-filter="Bar" class="dropdown-item" type="button">
                Bar
            </button>
        </li>
        <li>
            <button id="sortByTag2LoungingArea"value="Lounging Area" data-filter="Lounging Area" class="dropdown-item" type="button">
                Lounging Area
            </button>
        </li>
    </ul>
    {{!-- <button id="idFilterButton" type="button" class="btn btn-outline-success filter" data-bs-toggle="collapse" href="#filterMenu">
        Review Score Filter
    </button> --}}
    {{!-- <div class="collapse" id="filterMenu">
        <div class="mt-2">
            <label type="button" id="filter5Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="5starFilter"  autocomplete="off">
                5 stars
            </label>
            <label type="button" id="filter4Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="4starFilter"  autocomplete="off">
                4 stars
            </label>
            <label type="button" id="filter3Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="3starFilter"  autocomplete="off">
                3 stars
            </label>
            <label type="button" id="filter2Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="2starFilter"  autocomplete="off">
                2 stars
            </label>
            <label type="button" id="filter1Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="1starFilter"  autocomplete="off">
                1 stars
            </label>
        </div>
    </div> --}}
    <!--EDIT BOOKMARK END-->
</form>