<form method="post" name="sortAndFilter" id="sortAndFilter">
    <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by relevance
    </button>
    <ul class="dropdown-menu">
        <li><button class="dropdown-item active" type="button">relevance</button></li>
        <li><button class="dropdown-item" type="button">rating</button></li>
    </ul>
    <label type="button" class="btn btn-outline-success withMedia" data-bs-toggle="button">
        <input type="checkbox" class="btn-check" name="withMedia"  autocomplete="off">
            with Media
    </label>
        <button type="button" class="btn btn-outline-success filter" data-bs-toggle="collapse"
                        href="#filterMenu" id="idFilterButton">Filter</button>
        <div class="collapse" id="filterMenu">
            <div class="mt-2">
                <label type="button" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="5starFilter"  autocomplete="off">
                5 stars
                </label>
                <label type="button" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="4starFilter"  autocomplete="off">
                4 stars
                </label>
                <label type="button" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="3starFilter"  autocomplete="off">
                3 stars
                </label>
                <label type="button" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="2starFilter"  autocomplete="off">
                2 stars
                </label>
                <label type="button" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="1starFilter"  autocomplete="off">
                1 stars
                </label>
            </div>
        </div>
</form>