<form method="post" name="sortAndFilter" id="sortAndFilter">
    <!--EDIT BOOKMARK START-->
    <button id="sortRatingsOrder" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Ratings Order
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortByHighest" class="dropdown-item" type="button">
                Highest Ratings First
            </button>
        </li>
        <li>
            <button id="sortByLowest" class="dropdown-item" type="button">
                Lowest Ratings First
            </button>
        </li>
    </ul>
    <button id="sortReviewScore" class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Review Score
    </button>
    <ul class="dropdown-menu">
        <li>
            <button id="sortBy5S" class="dropdown-item" type="button">
                5 stars only
            </button>
        </li>
        <li>
            <button id="sortBy4S" class="dropdown-item" type="button">
                4 stars only
            </button>
        </li>
        <li>
            <button id="sortBy3S" class="dropdown-item" type="button">
                3 Stars only
            </button>
        </li>
        <li>
            <button id="sortBy2S" class="dropdown-item" type="button">
                2 Stars only
            </button>
        </li>
        <li>
            <button id="sortBy1S" class="dropdown-item" type="button">
                1 Star only
            </button>
        </li>
    </ul>
    {{!-- <button id="idFilterButton" type="button" class="btn btn-outline-success filter" data-bs-toggle="collapse" href="#filterMenu">
        Review Score Filter
    </button> --}}
    {{!-- <div class="collapse" id="filterMenu">
        <div class="mt-2">
            <label type="button" id="filter5Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="5starFilter"  autocomplete="off">
                5 stars
            </label>
            <label type="button" id="filter4Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="4starFilter"  autocomplete="off">
                4 stars
            </label>
            <label type="button" id="filter3Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="3starFilter"  autocomplete="off">
                3 stars
            </label>
            <label type="button" id="filter2Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="2starFilter"  autocomplete="off">
                2 stars
            </label>
            <label type="button" id="filter1Stars" class="btn btn-outline-warning withMedia" data-bs-toggle="button">
                <input type="checkbox" class="btn-check" name="1starFilter"  autocomplete="off">
                1 stars
            </label>
        </div>
    </div> --}}
    <!--EDIT BOOKMARK END-->
</form>